html{
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
   }

body {
    margin: 0;
    background: #D6E2EF;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}

#container{
    width: 220px;
    height: 340px;
    background: #FFFFFF;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

img {
    width: 100%;
    height: 100%;
}

#image {
    margin: 15px 15px 0 15px;
    border-radius: 10px;
    overflow: hidden;
}

p {
    margin: 10px;
    /* padding: 5px; */
}
div p:first-child {
    font-weight: 700;

}

div p:nth-child(2n) {
    font-size: 0.7em;
}

#text {
    margin: 0 15px 10px 15px;
    padding: 0;
    text-align: center;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }